
<ul id="post-comments-<%= post._id %>">
    <% for(comment of post.comments){ %>        
        <li id="comment-<%=comment._id%>">
            <p>
                <% if(locals.user && locals.user.id == comment.user.id){ %>
                    <small><a href="/comments/destroy/<%=comment._id%>" class="delete-comment-button">X</a></small>
                <% }else if(locals.user && locals.user.id == post.user.id){ %>
                    <small><a href="/comments/destroy-by-post-user/<%=comment._id%>" class="delete-comment-button-by-post-user">X</a></small>
                <% } %>
    
                <%= comment.content %> <br>
                <small> <%= comment.user.name %> </small>

                <small>
                    <% if(locals.user){ %>
                        <a href="/likes/toggle?id=<%=comment._id%>&type=Comment" class="toggle-like-button" data-likes="<%=comment.likes.length%>">
                            <%= comment.likes.length %> Likes
                        </a>
                    <% }else{ %>
                        <%= comment.likes.length %> Likes
                    <% } %>
                </small>
            </p>
        </li>
    <% } %>
</ul>
