
<ul id="post-comments-<%= post._id %>">
    <% for(comment of post.comments){ %>        
        <li id="comment-<%=comment._id%>">
            <p>
                <% if(locals.user && locals.user.id == comment.user.id){ %>
                    <small><a href="/comments/destroy/<%=comment._id%>" class="delete-comment-button">X</a></small>
                <% }else if(locals.user && locals.user.id == post.user.id){ %>
                    <small><a href="/comments/destroy-by-post-user/<%=comment._id%>">X</a></small>
                <% } %>
    
                <%= comment.content %> <br>
                <small> <%= comment.user.name %> </small>
            </p>
        </li>
    <% } %>
</ul>
