<link rel="stylesheet" href="/css/home.css">

<div id="home-container">
    
    <div id="user-related-functions">
        <% if(locals.user){ %>
            <img src="<%=user.avatar%>" alt="<%=user.name%>"><br>
            <h4> <%= user.name %></h4>
            <h5><%= user.email %></h5>
        <% } %>
    </div>

    <section id="feed-posts">
        <h4>Posts</h4>
        <% if(locals.user){ %>
            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content"  cols="30" rows="3" placeholder="type here..."></textarea>
                <br><br>
                <button type="submit">submit</button>
            </form>
        <% } %>

        <!-- here all the posts will be shown  -->
        <div id="post-list-container">
            <ul>
                <%- include('_post'); %>
            </ul>
        </div>
    </section>



    <!-- user friends  -->
    <section id="user-friends">
            <% if(locals.user){ %>
                <div id="friends-list">
                    <h4>Friends</h4>
                    <% if(profile_user != null){ %>
                        <% for(friend of profile_user.friends){ %>
                            <p><a href="users/profile/<%=friend._id%>"> <%=friend.name%> </a></p>
                        <% } %>
                    <% } %>
                </div>
            <% } %>

            <div id="users-list">
                <h4>Users</h4>
                <% for(u of all_users){ %>
                    <p><a href="users/profile/<%=u.id%>"> <%=u.name%> </a></p>
                <% } %>
            </div>
    </section>

    <!-- chat box  -->
    <% if(locals.user){ %>
        <%- include('_chatbox'); %>
    <% } %>

</div>


<script src="/js/home_posts_comments.js"></script>
<script src="/js/home_posts.js"></script>

<!-- for likes functionality  -->
<script src="/js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        new ToggleLike(self);
    });
</script>

<!-- for chat engine  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>

<% if(locals.user){ %>
    <script>
        new ChatEngine('chat-box', '<%= locals.user.email %>')
    </script>
<% } %>











  